<!DOCTYPE html>
<html ng-app="analyticsapp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-ui-grid@4.8.0/ui-grid.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha256-tSRROoGfGWTveRpDHFiWVz+UXt+xKNe90wwGn25lpw8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js" integrity="sha256-23hi0Ag650tclABdGCdMNSjxvikytyQ44vYGo9HyOrU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.7.8/angular-sanitize.min.js" integrity="sha256-rkC3YaCKtbLotg8lQpxqYki+DDOVXjcA5wTSxjRlI0E=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.15.0/sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/angular-ui-grid@4.8.0/ui-grid.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js" ></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"> </script>
	<script src="/scripts/uiselect.js"> </script>
	<!--<script data-require="ui-select@*" data-semver="0.8.3" src="https://cdn.rawgit.com/angular-ui/ui-select/v0.8.3/dist/select.min.js"></script>-->
	<script src="/scripts/app.js"> </script>
	<link rel="stylesheet" href="/stylesheets/style.css"></link>
    <link rel="stylesheet" href="/stylesheets/angular-datables.css"></link>
    <style>
	/*!
 * ui-select
 * http://github.com/angular-ui/ui-select
 * Version: 0.19.8 - 2017-04-18T05:43:43.881Z
 * License: MIT
 */


/* Style when highlighting a search. */
.ui-select-highlight {
  font-weight: bold;
}

.ui-select-offscreen {
  clip: rect(0 0 0 0) !important;
  width: 1px !important;
  height: 1px !important;
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  position: absolute !important;
  outline: 0 !important;
  left: 0px !important;
  top: 0px !important;
}


.ui-select-choices-row:hover {
  background-color: #f5f5f5;
  color:#000 !important;
}

/* Select2 theme */

/* Mark invalid Select2 */
.ng-dirty.ng-invalid > a.select2-choice {
    border-color: #D44950;
}

.select2-result-single {
  padding-left: 0;
}

.select2-locked > .select2-search-choice-close{
  display:none;
}

.select-locked > .ui-select-match-close{
    display:none;
}

body > .select2-container.open {
  z-index: 9999; /* The z-index Select2 applies to the select2-drop */
}

/* Handle up direction Select2 */
.ui-select-container[theme="select2"].direction-up .ui-select-match,
.ui-select-container.select2.direction-up .ui-select-match {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown,
.ui-select-container.select2.direction-up .ui-select-dropdown {
    border-radius: 4px; /* FIXME hardcoded value :-/ */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    border-top-width: 1px;  /* FIXME hardcoded value :-/ */
    border-top-style: solid;

    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);

    margin-top: -4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up .ui-select-dropdown .select2-search,
.ui-select-container.select2.direction-up .ui-select-dropdown .select2-search {
    margin-top: 4px; /* FIXME hardcoded value :-/ */
}
.ui-select-container[theme="select2"].direction-up.select2-dropdown-open .ui-select-match,
.ui-select-container.select2.direction-up.select2-dropdown-open .ui-select-match {
    border-bottom-color: #5897fb;
}

.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden,
.ui-select-container[theme="select2"] .ui-select-dropdown .ui-select-search-hidden input{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
}

/* Selectize theme */

/* Helper class to show styles when focus */
.selectize-input.selectize-focus{
  border-color: #007FBB !important;
}

/* Fix input width for Selectize theme */
.selectize-control.single > .selectize-input > input {
  width: 100%;
}

/* Fix line break when there's at least one item selected with the Selectize theme */
.selectize-control.multi > .selectize-input > input {
  margin: 0 !important;
}

/* Fix dropdown width for Selectize theme */
.selectize-control > .selectize-dropdown {
  width: 100%;
}

/* Mark invalid Selectize */
.ng-dirty.ng-invalid > div.selectize-input {
    border-color: #D44950;
}

/* Handle up direction Selectize */
.ui-select-container[theme="selectize"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
    margin-top: -2px; /* FIXME hardcoded value :-/ */
}

.ui-select-container[theme="selectize"] input.ui-select-search-hidden{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
    width: 0;
}

/* Bootstrap theme */

/* Helper class to show styles when focus */
.btn-default-focus {
  color: #333;
  background-color: #EBEBEB;
  border-color: #ADADAD;
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.ui-select-bootstrap .ui-select-toggle {
  position: relative;
}

.ui-select-bootstrap .ui-select-toggle > .caret {
  position: absolute;
  height: 10px;
  top: 50%;
  right: 10px;
  margin-top: -2px;
}

/* Fix Bootstrap dropdown position when inside a input-group */
.input-group > .ui-select-bootstrap.dropdown {
  /* Instead of relative */
  position: static;
}

.input-group > .ui-select-bootstrap > input.ui-select-search.form-control {
  border-radius: 4px; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group > .ui-select-bootstrap > input.ui-select-search.form-control.direction-up {
  border-radius: 4px !important; /* FIXME hardcoded value :-/ */
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ui-select-bootstrap .ui-select-search-hidden{
    opacity: 0;
    height: 0;
    min-height: 0;
    padding: 0;
    margin: 0;
    border:0;
}

.ui-select-bootstrap > .ui-select-match > .btn{
  /* Instead of center because of .btn */
  text-align: left !important;
}

.ui-select-bootstrap > .ui-select-match > .caret {
  position: absolute;
  top: 45%;
  right: 15px;
}

/* See Scrollable Menu with Bootstrap 3 http://stackoverflow.com/questions/19227496 */
.ui-select-bootstrap > .ui-select-choices ,.ui-select-bootstrap > .ui-select-no-choice {
  width: 100%;
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
  margin-top: -1px;
}

body > .ui-select-bootstrap.open {
  z-index: 1000; /* Standard Bootstrap dropdown z-index */
}

.ui-select-multiple.ui-select-bootstrap {
  height: auto;
  padding: 3px 3px 0 3px;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  background-color: transparent !important; /* To prevent double background when disabled */
  border: none;
  outline: none;
  height: 1.666666em;
  margin-bottom: 3px;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.6em;
  line-height: 0.75;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
  outline: 0;
  margin: 0 3px 3px 0;
}

.ui-select-multiple .ui-select-match-item {
  position: relative;
}

.ui-select-multiple .ui-select-match-item.dropping .ui-select-match-close {
  pointer-events: none;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-before:before {
  content: "";
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  margin-right: 2px;
  border-left: 1px solid #428bca;
}

.ui-select-multiple:hover .ui-select-match-item.dropping-after:after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  height: 100%;
  margin-left: 2px;
  border-right: 1px solid #428bca;
}

.ui-select-bootstrap .ui-select-choices-row>span {
    cursor: pointer;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.ui-select-bootstrap .ui-select-choices-row>span:hover, .ui-select-bootstrap .ui-select-choices-row>span:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

.ui-select-bootstrap .ui-select-choices-row.active>span {
    color: #fff;
    text-decoration: none;
    outline: 0;
    background-color: #428bca;
}

.ui-select-bootstrap .ui-select-choices-row.disabled>span,
.ui-select-bootstrap .ui-select-choices-row.active.disabled>span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}

/* fix hide/show angular animation */
.ui-select-match.ng-hide-add,
.ui-select-search.ng-hide-add {
    display: none !important;
}

/* Mark invalid Bootstrap */
.ui-select-bootstrap.ng-dirty.ng-invalid > button.btn.ui-select-match {
    border-color: #D44950;
}

/* Handle up direction Bootstrap */
.ui-select-container[theme="bootstrap"].direction-up .ui-select-dropdown {
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.25);
}

.ui-select-bootstrap .ui-select-match-text {
    width: 100%;
    padding-right: 1em;
}
.ui-select-bootstrap .ui-select-match-text span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
}
.ui-select-bootstrap .ui-select-toggle > a.btn {
  position: absolute;
  height: 10px;
  right: 10px;
  margin-top: -2px;
}

/* Spinner */
.ui-select-refreshing.glyphicon {
    position: absolute;
    right: 0;
    padding: 8px 27px;
 }

@-webkit-keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes ui-select-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ui-select-spin {
  -webkit-animation: ui-select-spin 2s infinite linear;
  animation: ui-select-spin 2s infinite linear;
}

.ui-select-refreshing.ng-animate {
  -webkit-animation: none 0s;
}

    </style>
</head>
 <body ng-controller = "analyticsctrl">
	<div class="container">
    <!-- <a href="/parser">Dataflow Parser</a> -->
		<div class="loader" ng-show="loading">
			<p style="position: absolute; color: White; top: 50%; left: 45%;">
				<img src="/images/loader.gif" width="100" height="100">
								Loading, please wait...
			</p>
		</div>
        <div class="row" style="margin-bottom:10px;margin-top:5px;">
            <div class="col-md-4" style="cursor: pointer;" ng-click="gohome()">
                <img src="/images/Logo.png" height="80">
            </div>
            <div class="col-md-4 text-center" style="">
                <br />
                <span class="h2" ="user_profile.display_name" style="align-content:center;height:80px;">Hi, {{user_profile.display_name}}</span>
            </div>
            <div class=" col-md-4 text-right" style="">
                <br /> 
                <span ng-click="showmodal()"><button class="btn-TA fa fa-question-circle" style="border-radius: 100px;"></button></span>
                <button class="btn-TAO" ng-click="logoutuser()"> Logout </button>
            </div>
        </div>
			<div class="panel panel-default shadow" ng-show="dashboardsec">
                <div class="panel-body text-center">
                    <span class="main-header"> Select a Template </span>
                    <div ui-grid="gridOptions" class="myGrid" ui-grid-selection ui-grid-pagination></div>
                </div>
				<div class="">
					<div class="form-group text-center">
						<button class='btn-TA' style="background-color: rgba(56, 193, 185, 1); color: #fff;" ng-click="fetchdashboarddata()">NEXT</button>
					</div>
				</div>
			</div>
			<div class="panel panel-default shadow" ng-show="uploadsec">
				<div class="panel-body text-center">
                    <span class="main-header"> Please Wait, Upload in Progress </span>
					<ul>
						<div style="display: inline-block;">
							<li><span style="text-align:left;">DatasetUpload</span><span style="text-align:right;"><p ng-show="datasetloading">Loading&nbsp;<img src="/images/loader.gif" width="30" height="30"></p><p ng-show="datasetloaded">Completed - &nbsp;<span class="glyphicon glyphicon-ok"></span></p></span></li>
							<li><span style="text-align:left;">DashboardUpload</span><span style="text-align:right;"><p ng-show="dashboardloading">Loading&nbsp;<img src="/images/loader.gif" width="30" height="30"></p><p ng-show="dashboardloaded">Completed- &nbsp;<span class="glyphicon glyphicon-ok"></span></p></span></span></li>
						</div>
					</ul>
                </div>
			</div>
			<div class="panel panel-default shadow" ng-show="datasetsec">
					<div class="panel-body text-center">
						<div class="row">
							<div class="col-md-12">
								<div class="form-group text-center">
                                    <div class="sub-header">Select an App</div>
                                    <select class="form-control text-center" id="folderlist" ng-model="selected.folder" ng-options=" folder.id as  folder.name for folder in folder_data" style="width: 50%;margin: 0 auto;max-width: 250px;">
                                        <option value="" disabled selected>Select an App...</option>
                                    </select>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group text-center">
                                    <div class="sub-header">Create a Dashboard From</div>
									<select class="form-control text-center" id="dashboardlist"  ng-model="selected.dashoption" ng-options="item for item in dashboardoptions" style="width: 50%;margin: 0 auto;max-width: 250px;">
                                        <option value="" disabled selected>Create Dashboard From...</option>
									</select>
								</div>
							</div>
							<span ng-if="prevdashboards.length>0 && selected.dashoption == 'Existing'">
								<div class="col-md-12 text-center">
									<div class="form-group text-center">
										<div class="sub-header" ">Select from your previous dashboards:</div>
									</div>
									<div ui-grid="gridOptions2" class="myGrid" ui-grid-selection ui-grid-pagination ui-grid-auto-resize></div>
								</div>
							</span>
							<span ng-if="selected.dashoption == 'New'">
								<div ng-if="dashboarddata.No_of_Datasets__c == 1">
									<div class="col-md-12">
										<!--<div class="form-group text-center">
											<div class="sub-header" >Select {{dashboarddata.No_of_Datasets__c}} Dataset(s)</div>
											<br />
											<span>
											<input type="text" style="width:50%;" class="col-lg-4 col-lg-offset-3 bot-margin form-control text-center ng-pristine ng-untouched ng-valid ng-empty" placeholder="Search Datasets" ng-model="datasetSearch">
											</span>
											<select class="form-control text-center" id="datasetlist" size="8" style="width: 50%;margin: 0 auto;" ng-model="selected.dataset" ng-options=" dataset.id as  dataset.label for dataset in datasets  | filter: {label: datasetSearch}"></select>
										</div>-->
										<div class="form-group text-center">
											<div class="sub-header" >Select 1 Dataset</div>
											<br />
											<select class="form-control text-center" id="datasetlist" size="8" style="width: 50%;margin: 0 auto;" ng-model="selected.dataset[0]" ng-options=" dataset.id as  dataset.label for dataset in datasets"></select>
										</div>
									</div>
								</div>
								<div ng-if="dashboarddata.No_of_Datasets__c == 2">
									<div class="col-md-6">
										<div class="sub-header" >Select 1 Dataset</div>
										<div class="form-group text-center">
											<select class="form-control text-center" id="datasetlist" size="8" style="width: 50%;margin: 0 auto;" ng-model="selected.dataset[0]" ng-options=" dataset.id as  dataset.label for dataset in datasets"></select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="sub-header" >Select 1 Dataset</div>
										<div class="form-group text-center">
											<select class="form-control text-center" id="datasetlist" size="8" style="width: 50%;margin: 0 auto;" ng-model="selected.dataset[1]" ng-options=" dataset.id as  dataset.label for dataset in datasets"></select>
										</div>
									</div>
								</div>
								<div ng-if="dashboarddata.No_of_Datasets__c > 2" ng-repeat="i in getNumber(dashboarddata.No_of_Datasets__c) track by $index">
									<div class="col-md-4">
										<div class="sub-header" >Select 1 Dataset</div>
										<div class="form-group text-center">
											<select class="form-control text-center" id="datasetlist" size="8" style="width: 50%;margin: 0 auto;" ng-model="selected.dataset[$index]" ng-options=" dataset.id as  dataset.label for dataset in datasets"></select>
										</div>
									</div>
								</div>
							</span>
						</div>
						</div>
					<div class="">
						<div class="form-group text-center">
							<button class='btn-TA' ng-click="validatedataset()">NEXT</button>
						</div>
					</div>
			</div>
			<div ng-show="metricsec" class="">
				<div class="">
					<div class="row" style="text-align: center;padding: 10px;">
						<input type="text" class="form-control" placeholder="Enter Dashboard Name" style="display:inline;width:50%;max-width: 250px;" ng-model="newdashboardname"/>
					</div>
					<div ui-sortable ng-model="datasetdata">
						<div class="panel-body" ng-repeat="dsetdata in datasetdata">
							<div class="">
							<div class="panel-heading shadow" data-toggle="collapse" data-target="#collapse{{$index}}">
								<h4 class="panel-title">
                                    <a class="accordion-toggle" >
                                        <b>Dataset</b>: {{dsetdata.dataset_label}} ({{dsetdata.dataset_name}})
                                        <i class="fa fa-chevron-right pull-right rotate" ></i>
                                    </a>
								</h4>
							</div>
							<!--<div class="row">
								<p style="padding-left: 14px;"><b>Dataset: {{dsetdata.dataset_name}}</b></p>
							</div>-->
							<div id="collapse{{$index}}" class="panel-collapse collapse in">
								<div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-3 text-center">
                                            <span class="main-header">
                                                <label for="analytics-dim">Select up to {{dashboarddata.No_of_Dimensions__c}} Dimensions</label>
                                            </span>
                                            <div class="shadow">
                                                <span style=" display:block;">
                                                    <label for="analytics-dim"><input type="checkbox" ng-model="dsetdata.removedimepoch" ng-change="updatepoch($index,'dimension')"> Remove Dates</label>
                                                </span>
                                                <div style="display:block;">
                                                        Sort by: 
                                                        <select ng-model="dsetdata.dim_order">
															<option value="label">Dimension Name</label>
															<option value="card" ng-show="showotherprops">Uniqueness</label>
															<option value="uniq" ng-show="showotherprops">Completeness</label>
														</select>
														<span ng-if="dsetdata.dim_direction == true">
                                                            <button class="btn-TA" ng-click="updatedmorder($parent.$index)"><i class="fa fa-sort-alpha-desc" aria-hidden="true"></i></button>
                                                        </span>
                                                        <span ng-if="dsetdata.dim_direction == false">
                                                            <button class="btn-TA" ng-click="updatedmorder($parent.$index)"><i class="fa fa-sort-alpha-asc" aria-hidden="true"></i></button>
                                                        </span>

                                                    <!--<input type="text" class="form-control bot-margin" placeholder="Search Dimensions" ng-model="dsetdata.userSearch">-->
                                                </div>
												<!--<span ng-show="showotherprops">
												<select class="analytics-dimension form-control" id="analyticsdim" size="8" multiple="true" name="analytics-dim" ng-change="validatedata($index,'dimension')" ng-model="dsetdata.selecteddim" ng-options=" dimension.field as  dimension.proplabel for dimension in dsetdata.dimensions  | orderBy: dsetdata.dim_order : dsetdata.dim_direction | filter:dsetdata.userSearch"></select>
												</span>
												<span ng-show="!showotherprops">
												<select class="analytics-dimension form-control" id="analyticsdim" size="8" multiple="true" name="analytics-dim" 
												ng-change="validatedata($index,'dimension')" ng-model="dsetdata.selecteddim" 
												ng-options=" dimension.field as  dimension.label for dimension in dsetdata.dimensions  | orderBy: dsetdata.dim_order : dsetdata.dim_direction  | filter:dsetdata.userSearch" ></select>
												</span>
												<span ng-show="!showotherprops">
													<select class="analytics-dimension form-control" style="overflow-x: scroll;" id="analyticsdim" size="8" multiple="true" name="analytics-dim" ng-change="validatedata($index,'dimension')" ng-model="dsetdata.selecteddim" >
														<option title="{{dimension.label}}" ng-repeat="dimension in dsetdata.dimensions | orderBy: dsetdata.dim_order : dsetdata.dim_direction | filter:dsetdata.userSearch " value="{{dimension.field}}">{{dimension.label}}</option>
													</select> 
												</span>
												-->
												<span ng-show="showotherprops">
													<ui-select multiple ng-model="dsetdata.selecteddim"  ng-change="validatedata($index,'dimension')" theme="select2" sortable="true" close-on-select="false" style="width: 100%;">
														<ui-select-match placeholder="Select Dimension">{{$item.label}}</ui-select-match>
														<ui-select-choices repeat="dimension in dsetdata.dimensions | propsFilter: {label: $select.search, field: $select.search} | orderBy: dsetdata.dim_order : dsetdata.dim_direction">
														  <div ng-bind-html="dimension.label | highlight: $select.search"></div>
														  <small>
															Uniqueness: {{dimension.card}}
															Completeness: {{dimension.uniq}}
														  </small>
														</ui-select-choices>
													  </ui-select>
												</span>
												<span ng-show="!showotherprops">
													<ui-select multiple ng-model="dsetdata.selecteddim"  ng-change="validatedata($index,'dimension')" theme="select2" sortable="true" close-on-select="false" style="width: 100%;">
														<ui-select-match placeholder="Select Dimension">{{$item.label}}</ui-select-match>
														<ui-select-choices repeat="dimension in dsetdata.dimensions | propsFilter: {label: $select.search, field: $select.search} | orderBy: dsetdata.dim_order : dsetdata.dim_direction">
														  <div ng-bind-html="dimension.label | highlight: $select.search"></div>
														</ui-select-choices>
													  </ui-select>
												</span>
												<!--<span ng-show="showotherprops">
													<select class="analytics-dimension form-control" style="overflow-x: scroll;" id="analyticsdim" size="8" multiple="true" name="analytics-dim" ng-change="validatedata($index,'dimension')" ng-model="dsetdata.selecteddim" >
														<option title="{{dimension.proplabel}}" ng-repeat="dimension in dsetdata.dimensions | orderBy: dsetdata.dim_order : dsetdata.dim_direction " value="{{dimension.field}}">{{dimension.proplabel}}</option>
													</select>
												</span>
												<span ng-show="!showotherprops">
													<select class="analytics-dimension form-control" style="overflow-x: scroll;" id="analyticsdim" size="8" multiple="true" name="analytics-dim" ng-change="validatedata($index,'dimension')" ng-model="dsetdata.selecteddim" >
														<option title="{{dimension.label}}" ng-repeat="dimension in dsetdata.dimensions | orderBy: dsetdata.dim_order : dsetdata.dim_direction | filter:dsetdata.userSearch " value="{{dimension.field}}">{{dimension.label}}</option>
													</select> 
												</span>-->
												<br />
                                                <br />
                                                <span class="sub-header">
                                                    <label for="analytics-dim" uib-popover-template="'Dimlist.html'">Selected Dimensions ({{dsetdata.selecteddim.length}}/{{dashboarddata.No_of_Dimensions__c}})</label>
                                                </span> 
                                                <br />
                                                <button class="btn-TAO" uib-popover-template="'Dimlist.html'"><span class="glyphicon glyphicon-info-sign"></span> View Sample Data</button>

                                                <ul ui-sortable ng-model="dsetdata.selecteddim" class="list-group">
                                                    <li ng-repeat="seldim in dsetdata.selecteddim" style="cursor:pointer;" ng-mouseenter="querydimval(dsetdata.dataset_id,dsetdata.versionId,seldim.field)" popover-trigger="mouseenter"><p>{{$index+1}}.) {{seldim.label}}<span class="pull-right glyphicon glyphicon-move"></span></p></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <span class="main-header">
                                                <label for="analytics-dat">Select up to {{dashboarddata.No_of_Dates__c}} Dates</label>
                                            </span>
                                            <div class="shadow">
                                                <select class="analytics-date form-control" id="analytics-dat" size="8" multiple="true" name="analytics-dat" ng-change="validatedata($index,'date')" ng-model="dsetdata.selecteddate" ng-options="datesel.field as datesel.label for datesel in dsetdata.datelist"></select>
                                                <br />
                                                <br />
                                                <span class="sub-header">
                                                    <label for="analytics-dat">Selected Dates ({{dsetdata.selecteddate.length}}/{{dashboarddata.No_of_Dates__c}})</label>
                                                </span>
                                                <ul ui-sortable ng-model="dsetdata.selecteddate" class="list-group">
                                                    <li ng-repeat="seldate in dsetdata.selecteddate" class="" ><p>{{$index+1}}.) {{seldate}} <span class="pull-right glyphicon glyphicon-move"></span> </p></li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="col-md-3 text-center">
                                            <span class="main-header">
                                                <label for="analytics-mea">Select up to {{dashboarddata.No_of_Measures__c}} Measures</label>
                                            </span>
                                                <br />
                                            <div class="shadow">
                                                <div class="row" style="display:block;">
                                                        <label for="analytics-mea"><input type="checkbox" ng-model="dsetdata.removemesepoch" ng-change="updatepoch($index,'measure')"> Remove Dates</label>
                                                    <br />
                                                    <button ng-click="addmetrow($index)" class="btn-TA btn-add" type="button">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </div>
                                                <div class="row bot-margin" ng-repeat="met in dsetdata.metrics">
                                                    <div class="col-md-4">
                                                        <select class="form-control measure-operation" ng-model="met.operation" id="measure-opn" name="measure-opn">
                                                            <!--<option value='calculate'>calculate</option>-->
                                                            <option value='' disabled selected>Choose Operation</option>
                                                            <option value='count'>Count</option>
                                                            <option value='sum'>Sum</option>
                                                            <option value='avg'>Average</option>
                                                            <option value='max'>Maximum</option>
                                                            <option value='min'>Minimum</option>
                                                            <option value='unique'>Unique</option>
                                                            <option value='median'>Median</option>
                                                            <option value='first'>First</option>
                                                            <option value='last'>Last</option>
                                                            <option value='stddev'>Stddev</option>
                                                            <option value='stddevp'>Stddevp</option>
                                                            <option value='var'>Var</option>
                                                            <option value='varp'>Varp</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <span ng-if="met.operation == 'count'">
                                                            <select class="measure-val form-control" ng-model="met.metricval" style="max-width: 100% !important;" ng-change="updatemeasure($parent.$parent.$index,$index)" id="measure-val" name="measure-val">
                                                                <option value='Rows' selected>Rows</option>
                                                            </select>
                                                        </span>
                                                        <span ng-if="met.operation == 'sum' || met.operation == 'avg' || met.operation == 'max' || met.operation == 'min' || met.operation == 'median' || met.operation == 'first' || met.operation == 'last' || met.operation == 'stddev' || met.operation == 'stddevp' || met.operation == 'var' || met.operation == 'varp'">
                                                            <select class="measure-val form-control" ng-model="met.metricval" ng-change="updatemeasure($parent.$parent.$index,$index)" id="measure-val" name="measure-val" ng-options="measure.field as  measure.label for measure in dsetdata.measures"></select>
                                                        </span>
                                                        <span ng-if="met.operation == 'unique'">
                                                            <select class="measure-val form-control" ng-model="met.metricval" ng-change="updatemeasure($parent.$parent.$index,$index)" id="measure-val" name="measure-val" ng-options="uniq_measure.field as  uniq_measure.label group by uniq_measure.category for uniq_measure in dsetdata.uniquefields"></select>
                                                        </span>
                                                        <span ng-if="met.operation == 'calculate'">
                                                            <textarea ng-model="met.metricval" class="form-control" ng-blur="updatemeasure($parent.$parent.$index,$index)"></textarea>
                                                        </span>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <span class="input-group-btn">
                                                            <button ng-click="removemetrow($parent.$index,$index)" class="btn-TAO btn-add pull-right" type="button">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <span class="sub-header">
                                                    <label for="analytics-dat">Selected Measures ({{dsetdata.metrics.length}}/{{dashboarddata.No_of_Measures__c}})</label>
                                                </span>
                                                <ul ui-sortable ng-model="dsetdata.metrics" class="list-group">
                                                    <li ng-repeat="mestext in dsetdata.metrics" dataset-id={{$parent.index}} class=""><p>{{$index+1}}.) {{mestext.metrictext}} <span class="pull-right glyphicon glyphicon-move"></span> </p></li>
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-md-3 text-center">
                                            <span class="main-header">
                                                <label for="analytics-str">Select up to {{dashboarddata.No_of_Strings__c}} Strings</label>
                                            </span>
                                            <div class="shadow">
                                                <div class="row" style="display:block;margin-bottom:5;">
                                                    <br />
                                                    <button ng-click="addmestrow($index)" class="btn-TA btn-add" type="button">
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </div>
                                                <div class="row bot-margin" ng-repeat="datastring in dsetdata.strings track by $index">
                                                    <div class="col-md-1" style="padding-right:0px; padding-left:10px;">
                                                        <p> {{$index+1}}</p>
                                                    </div>
                                                    <div class="col-md-11" style="padding-right:0px; padding-left:0px;">
                                                        <div class="col-md-9" style="padding-right:0px; padding-left:10px;">
                                                            <input type="text" class="form-control" ng-model="dsetdata.strings[$index]" />
                                                        </div>
                                                        <div class="col-md-3" style="padding-right:0px; padding-left:5px;">
                                                            <button ng-click="removemestrow($parent.$index,$index)" class="btn-TAO btn-add" type="button">
                                                                <span class="glyphicon glyphicon-minus"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br />
                                                <br />
                                                <span class="sub-header">
                                                    <label for="analytics-dat">Selected Strings ({{dsetdata.strings.length}}/{{dashboarddata.No_of_Strings__c}})</label>
                                                </span>
                                            </div>
                                        </div>
									</div>
                                        <!--<div class="row" ng-if="dsetdata.selecteddim.length>0" style="margin-top:3%;margin-bottom:3%;">
        <div class="col-md-6" >
            <label for="analytics-dat"> Default Filter: </label>
            <select class="analytics-date" id="analytics-dat" name="analytics-dat"  ng-model="dsetdata.selecteddeffilter" ng-options="datfil as datfil for datfil in dsetdata.selecteddim"></select>
        </div>
    </div>-->

                                    </div>
							</div>
						</div>
						</div>
                        <div class="form-group text-center">
                            <button class='btn-TA' ng-click="createdashboard()">Create Dashboard</button>
                        </div>
					</div>
				</div>
			</div>
		 <div class="modal fade" id="helpModal" role="dialog">
			<div class="modal-dialog">
			  <!-- Modal content-->
			  <div class="modal-content">
				<div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h4 class="modal-title">{{current_dashboardname}}</h4>
				</div>
				<div class="modal-body">
				  <p id="helptext" ng-bind-html="db_helptext"></p>
				</div>
				<div class="modal-footer" style="text-align:center;">
				  <button type="button" class="btn-TA" data-dismiss="modal">Close</button>
				</div>
			  </div>
			  
			</div>
		</div>
	</div>
 </body>
	 <script type="text/ng-template" id="Dimlist.html">
		<span ng-if=" popoverdata && popoverdata.title != ''">
			<ul style="height:160px;text-align:center; margin-left:-45px;">
				<li class="inner-header">Top 5 Samples</li>
				<br />
				<li class="inner-header" style="font-size:13px;">{{popoverdata.title}} (# of Rows)</li>
				<li ng-repeat="x in popoverdata.data">{{x}}</li>
			</ul>
		</span>
		<span ng-if="!popoverdata">
			<h5>Please hover on any selected dimension below to see the top 5 samples</h5>
		</span>
</script>
</html>