<html>
 <head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" >
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js" integrity="sha256-tSRROoGfGWTveRpDHFiWVz+UXt+xKNe90wwGn25lpw8=" crossorigin="anonymous"></script>
		
  <title>Touch Analytics- Connect Instance</title>
  <style>
	html,body{
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('https://www.analyticscc.com/Site/themed-images/backgrounds/section-bg-b.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		height: 100%;
		font-family: 'Numans', sans-serif;
		}
	.container{
		height: 100%;
		align-content: center;
		}
	.card{
		height: 370px;
		margin-top: auto;
		margin-bottom: auto;
		width: 400px;
		background-color: rgba(0,0,0,0.5) !important;
		}
  </style>
 </head>
 <body>
	<!--<div class="container">
		<div class="row text-center">
			<div class="panel panel-default" style="box-shadow: -1px 3px 4px 0px rgba(168, 168, 168, 1);">
				<div class="">
					<img src="/images/Logo.png" height="80px" >
				</div>
				<div class="form-group">
					  <label><input type="checkbox" id="testorg"/> Sandbox</label>
					<button class="btn btn-default" id="connect">Connect My Org</button>
				</div>
			</div>
		</div>
	</div>-->
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<div class="d-flex justify-content-center social_icon" style="background-color: #fff;padding: 10px;">
						<img src="/images/Logo.png" height="80px" >
					</div>
				</div>
				<div class="card-body">
					<div class="justify-content-center" style="color: #fff;">
						<div class="row align-items-center justify-content-center" style="color: #fff;">
							<input type="checkbox" id="testorg"/> Sandbox</label>
						</div>
						<div class="row align-items-center justify-content-center" style="margin-top:11px;">
							<button class="btn btn-default" id="connect">Connect My Org</button>
						</div>
						<p style="max-width: 200px;margin: 0 auto;font-size:12px;margin-top:11px;">By clicking on Connect my org. You agree to our <a href="https://www.analyticscc.com/contact.htm">terms and conditions</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script type="text/javascript">
    $(document).ready(function(){
     $('#connect').click(function(){
     //redirect the user to the endpoint 
		if($('#testorg').is(":checked")){
			window.location = "/oauth2/login?ins=test";
		}else{
			window.location = "/oauth2/login?ins=prod";
		}
     });
	 
  })
 </script>
 </body>
</html>