<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data FlowParser</title>
    <script src="/scripts/app.js"> </script>
</head>
<body>
   <h1>Welcome to DataFlow Parser</h1>
   <br>
   <form method="POST" action="/parser" enctype="multipart/form-data">
    <p>Upload Dataflow</p>
    <p><input type="file" name="file"></p>
    <p>Select Node</p>
    <p><input type="text" name="node"></p>
    <p><input type="submit" value="Submit"></p>
    <br>
   </form>
</body>
</html>