<html>
<script>
	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[#&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
			vars[key] = value;
		});
		return vars;
	}
	console.log(window.location.href);
	console.log(getUrlVars());
	var access_token = decodeURIComponent(getUrlVars()["access_token"]);
	var instance_url = decodeURIComponent(getUrlVars()["instance_url"]);
	var user_id_url = decodeURIComponent(getUrlVars()["id"]);
	if(access_token && instance_url){
		localStorage.setItem('cust_access_token', access_token);
		localStorage.setItem('cust_instanceUrl', instance_url);
		localStorage.setItem('cust_profile',user_id_url);
		window.location.href = "https://"+window.location.hostname+"/dashboard";
	}else{
		window.location.href = "https://"+window.location.hostname;
	}
	console.log(access_token);
</script>
</html>