/*!
 * angular-datatables - v0.6.2
 * https://github.com/l-lin/angular-datatables
 * License: MIT
 */

.dataTables_wrapper{padding:1rem 0}table.dataTable,table.dataTable.no-footer{margin:1rem 0;width:100%!important;border-top:1px solid #DDD;border-bottom:1px solid #DDD}.dataTables_length{margin:.2rem 0 .8rem 1rem}.dataTables_length select{border:0}.dataTables_length select:focus{outline:0}.dataTables_filter{margin-right:1rem}.dataTables_filter input[type=search]{border:1px solid #38c1b8;border-radius:3px}table.dataTable thead td,table.dataTable thead th{border-bottom:1px solid #DDD}table.dataTable tbody td,table.dataTable tbody th{padding:10px 18px}.dataTables_wrapper .dataTables_filter,.dataTables_wrapper .dataTables_info,.dataTables_wrapper .dataTables_length,.dataTables_wrapper .dataTables_paginate,.dataTables_wrapper .dataTables_processing{color:#38c1b8}.dataTables_wrapper .dataTables_info{margin-left:1rem}.dataTables_wrapper .dataTables_paginate .paginate_button.current,.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{color:#000!important;border:0;background:#38c1b8}.dataTables_wrapper .dataTables_paginate .paginate_button{padding:.3em .8em}.dataTables_wrapper .dataTables_paginate .paginate_button:hover{padding:.3em .8em;background:#38c1b8;border:1px solid transparent}