.pad{
	
	padding: 2px;
}
		.loader {
			margin: 0px; 
			padding: 0px;
			position: fixed;
			right: 0px; 
			top: 0px; 
			width: 100%;
			height: 100%;
			background-color: rgb(102, 102, 102); 
			z-index: 30001; 
			opacity: 0.8;
		}
		#helptext img{
			width: 100%;
		}
		.accordion-toggle{
			cursor: pointer;
		}
		div[data-toggle="collapse"] .rotate {
		   -webkit-transition: all 0.2s ease-out;
		   -moz-transition: all 0.2s ease-out;
		   -ms-transition: all 0.2s ease-out;
		   -o-transition: all 0.2s ease-out;
		   transition: all 0.2s ease-out;
		   -moz-transform: rotate(90deg);
		   -ms-transform: rotate(90deg);
		   -webkit-transform: rotate(90deg);
		   transform: rotate(90deg);
		}
		div[data-toggle="collapse"].collapsed .rotate {
		   -moz-transform: rotate(0deg);
		   -ms-transform: rotate(0deg);
		   -webkit-transform: rotate(0deg);
		   transform: rotate(0deg);
		}
        .container {
            width: 95%;
        }
        .modal-dialog {
            width: 90%;
        }
        .btn {
            margin-right: 10;
        }
		table tr th{
		  background:#337ab7;
		  color:white;
		  text-align:left;
		  vertical-align:center;
		}
        .btn-TA {
            background-color: rgba(56, 193, 185, 1);
            color: #fff;
            border-color: #ffffff00;
            padding: 6px 12px;
            border-radius: 100px;
            border: 1px solid transparent;
            font-size: 14px;
			margin: 3px;
        }
        .btn-TAO {
            background-color: rgba(239, 91, 48, 1);
            color: #fff;
            border-color: #ffffff00;
            padding: 6px 12px;
            border-radius: 4px;
            border: 1px solid transparent;
            font-size: 14px;
        }
		li{
			list-style: none;
		}
.main-header{
	font-size:20px;
	margin-bottom: 10px;
	display:inline-block;
	font-weight: bold;
	    height: 50px;
	color: #b8b8b8;
}
.sub-header{
	font-size:15px;
	font-weight: 700;
	margin-bottom: 10px;
	display:inline-block;
	    height: 30px;
}
.inner-header{
	font-size:15px;
	font-weight: 700;
	margin-bottom: 10px;
	display:inline-block;
}
.bot-margin {
	
	margin-bottom: 5px;
}
.shadow{
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	padding: 10px;
}
.analytics-dimension option{
	min-width: 500px;	
}

